@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer components {
    .form-input, .form-select, .form-textarea, .form-multiselect {
        @apply block w-full rounded-md border-gray-300 outline-none focus:ring-2 focus:ring-primary-200 focus:border-primary-400;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    @screen sm {
        .form-input, .form-select, .form-textarea, .form-multiselectt {
            @apply text-sm;
        }
    }
    /* @variants focus {
        .form-input, .form-select, .form-textarea, .form-multiselect {
            @apply ;
        }
    } */
    @import 'flash.css';
}

/* @layer components {
} */
